<a href="https://colab.research.google.com/github/lovelyoyrmia/machine-learning-notebook/blob/main/books_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('books.csv')

In [12]:
df.head()

   bookID  ...                  Unnamed: 12
0   34889  ...    Brown Son & Ferguson Ltd.
1   22128  ...  Huntington House Publishers
2   16914  ...            Cold Spring Press
3   12224  ...     Harvard University Press
4    2034  ...                          NaN

[5 rows x 13 columns]

In [8]:
df.shape

(11127, 13)

In [13]:
df.isnull().sum()

bookID                    0
title                     0
authors                   0
average_rating            0
isbn                      0
isbn13                    0
language_code             0
num_pages                 0
ratings_count             0
text_reviews_count        0
publication_date          0
publisher                 0
Unnamed: 12           11123
dtype: int64

In [15]:
df = df.drop(['Unnamed: 12'], axis=1)

In [17]:
df

       bookID  ...                        publisher
0       34889  ...                       05-01-1977
1       22128  ...                        1/15/1999
2       16914  ...                       04-06-2004
3       12224  ...                        4/20/2004
4        2034  ...     Oxford University Press  USA
...       ...  ...                              ...
11122   37467  ...                        Routledge
11123   41044  ...             Meredith Corporation
11124   42758  ...                  Greenwood Press
11125   44705  ...  AMR/Advanced Management Reports
11126   45259  ...    Between the Lines Productions

[11127 rows x 12 columns]

In [18]:
df.describe()

             bookID  ratings_count  text_reviews_count
count  11127.000000   1.112700e+04        11127.000000
mean   21310.938887   1.793649e+04          541.864474
std    13093.358023   1.124794e+05         2576.174610
min        1.000000   0.000000e+00            0.000000
25%    10287.000000   1.040000e+02            9.000000
50%    20287.000000   7.450000e+02           47.000000
75%    32104.500000   4.993500e+03          237.500000
max    45641.000000   4.597666e+06        94265.000000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   average_rating      11127 non-null  object
 4   isbn                11127 non-null  object
 5   isbn13              11127 non-null  object
 6   language_code       11127 non-null  object
 7   num_pages           11127 non-null  object
 8   ratings_count       11127 non-null  int64
 9   text_reviews_count  11127 non-null  int64
 10  publication_date    11127 non-null  object
 11  publisher           11127 non-null  object
dtypes: int64(3), object(9)
memory usage: 1.0+ MB

In [26]:
top_ten = df[df['ratings_count'] > 1000000]

In [32]:
plt.style.use('seaborn-whitegrid')
plt.figure(figsize=(15, 15))

In [33]:
top_ten.sort_values(by='ratings_count', ascending=False)

       bookID  ...                                 publisher
9953    41865  ...                 Little  Brown and Company
1219     5907  ...                          Houghton Mifflin
7959     5107  ...                            Back Bay Books
6616      960  ...                              Pocket Books
123         5  ...                           Scholastic Inc.
432     15881  ...  Arthur A. Levine Books / Scholastic Inc.
234         2  ...                           Scholastic Inc.
633        34  ...                 Houghton Mifflin Harcourt
5996     7613  ...                                       NAL
110         1  ...                           Scholastic Inc.
9288     7624  ...                             Penguin Books
8719    18135  ...                            Simon Schuster
1463    28187  ...                     Disney Hyperion Books
6933      890  ...                             Penguin Books
7366      968  ...                                    Anchor
7076      865  ...                             HarperCollins
2798     3636  ...                                     Ember
609     19063  ...                           Alfred A. Knopf
3653     1934  ...                           Signet Classics
2956    10210  ...                                   Penguin
10147   19501  ...                           Riverhead Books
3058      930  ...       Random House Large Print Publishing
2346    24178  ...                   HarperCollinsPublishers
3483    43641  ...                           Algonquin Books
4980     5129  ...      HarperPerennial / Perennial Classics
3383    15931  ...                                    Bantam
6781     1618  ...                                   Vintage
7673     2956  ...                          Penguin Classics
4107    37435  ...                             Penguin Books
3668     4981  ...                                Dial Press

[30 rows x 12 columns]