<a href="https://colab.research.google.com/github/lovelyoyrmia/machine-learning-notebook/blob/main/data_analytics_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Create a DataFrame from an array

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = np.array([[1, 2], [3, 4], [6, 7]])

In [ ]:
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'], columns=['col1', 'col2'])

In [ ]:
df

      col1  col2
row1     1     2
row2     3     4
row3     6     7

## Create a DataFrame from a dictionary

In [ ]:
states = ['California', 'Texas', 'Florida', 'New York']
population = [3242532, 3859389, 3098123, 3495867]

In [ ]:
dict_states = {'States': states, 'Population': population}

In [ ]:
df_states = pd.DataFrame(dict_states)

In [ ]:
df_states

       States  Population
0  California     3242532
1       Texas     3859389
2     Florida     3098123
3    New York     3495867

## Create a DataFrame from a csv

In [1]:
from google.colab import files

In [ ]:
files.upload()

In [ ]:
df_exams = pd.read_csv('StudentsPerformance.csv')

In [ ]:
df_exams

     gender race/ethnicity  ... reading score writing score
0    female        group B  ...            72            74
1    female        group C  ...            90            88
2    female        group B  ...            95            93
3      male        group A  ...            57            44
4      male        group C  ...            78            75
..      ...            ...  ...           ...           ...
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[1000 rows x 8 columns]

In [ ]:
df_exams.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]