<a href="https://colab.research.google.com/github/lovelyoyrmia/machine-learning-notebook/blob/main/random_forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Random Forest Practice**

## Import Dependencies

In [1]:
import pandas as pd
import sklearn.model_selection as ms
import sklearn.ensemble as ens
import sklearn.metrics as met
import sklearn.tree as tree

## Load dataset

In [3]:
df1 = pd.read_csv('decisiontree.csv')

In [4]:
df1.head()

   ID   mesin  bangku penggerak    label
0   1  bensin       4     depan    sedan
1   2  bensin       2     depan    sedan
2   3  bensin       8  belakang  minibus
3   4  diesel       6     depan  minibus
4   5  bensin       5  belakang  minibus

## Data Cleaning

In [5]:
encoding = {'mesin': {'bensin': 0, 'diesel': 1}, 'penggerak': {'depan': 0, 'belakang': 1}}

In [6]:
df1.replace(encoding, inplace=True)

In [7]:
df1.head()

   ID  mesin  bangku  penggerak    label
0   1      0       4          0    sedan
1   2      0       2          0    sedan
2   3      0       8          1  minibus
3   4      1       6          0  minibus
4   5      0       5          1  minibus

## Split data train and data test

In [9]:
X = df1.drop(['ID', 'label'], axis=1)
y = df1['label']

In [10]:
X_train, X_test, y_train, y_test = ms.train_test_split(X, y, test_size=0.2)

## Random Forest Classifier

In [11]:
rf = ens.RandomForestClassifier(n_estimators=100)

In [12]:
rf.fit(X_train, y_train)

RandomForestClassifier()

In [14]:
print(rf)

RandomForestClassifier()

In [15]:
y_prediksi = rf.predict(X_test)

In [16]:
y_prediksi

array(['sedan', 'minibus', 'minibus', 'minibus', 'sedan', 'minibus',
       'minibus', 'sedan'], dtype=object)

In [17]:
accuracy = met.accuracy_score(y_test, y_prediksi)
accuracy

0.75

In [18]:
score = rf.feature_importances_
score

array([0.17616204, 0.48054164, 0.34329632])